

  <h1>Top画面</h1>
  <div class="image">
    <img id="top-image" src="/assets/IMG_20180410_225446_996.jpg" class="rounded float-left" width="500" height="500">
  </div>
<!-- <p>ユーザー名</p>-->
  <!-- name属性を追加してください -->
<!--  <input name ="name">-->
<!--  <p>パスワード</p>-->
  <!-- name属性を追加してください -->
<!--  <input type="password" name ="password">-->
<!--  <input type="submit" value="ログイン">-->
  <!-- form_tag用のendを追加してください -->
  <script>
    $(document).ready(function(){
     
      $('h1').click(function(){
        $(this).css('color', 'red').text('クリックされました');
        $('#top-image').css('display','none').fadeOut('slow');
      });

      // $('.image').click(function(){
      //   $(this).addClass('open');
        
      // });

      // $('.image').hover(
      //   function(){
      //     $(this).find('#top-image').css('display','none').fadeOut('slow');
      //   },function(){
      //     $(this).find('#top-image').css('display','block').fadeIn('slow');
      //   });  
    });
  </script>