<h1>Top画面</h1>

<img src="/assets/IMG_20180410_225446_996.jpg">
<!-- <p>ユーザー名</p>-->
  <!-- name属性を追加してください -->
<!--  <input name ="name">-->
<!--  <p>パスワード</p>-->
  <!-- name属性を追加してください -->
<!--  <input type="password" name ="password">-->
<!--  <input type="submit" value="ログイン">-->
  <!-- form_tag用のendを追加してください -->

