<h1>Curry Search</h1>
<ul>
    <% @users.each do |user| %>
        <li>
            <%= user.name %>
            <%= user.password %>
        </li>
    <% end %>
    
</ul>
<%= form_tag("/login") do %>
 <p>ユーザー名</p>
  <!-- name属性を追加してください -->
  <input name ="name">
  <p>パスワード</p>
  <!-- name属性を追加してください -->
  <input type="password" name ="password">
  <input type="submit" value="ログイン">
  <!-- form_tag用のendを追加してください -->
 <% end %>
