<h1>投稿</h1>

<%= form_tag("/posts/create") do %>
    <% @post.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
          
<textarea name="content"><%= @post.content %></textarea>
<input class="btn btn-primary" type="submit" value="投稿">

<% end %>